<form role="form" action="{{ path('create_queue_form', {projectId: project.id}) }}"
    method="post"
    name="confirm"
    {{ form_enctype(form) }}
    data-ajax-form
>
    {{ form_row(form.title) }}

    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a class="collapsed btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseCreateQueueDetails" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-cogs"></i> Details
                    <div class="clearfix"></div>
                </a>
            </h4>
        </div>
        <div id="collapseCreateQueueDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                {{ form_row(form.push_type) }}
                {{ form_row(form.retries) }}
                {{ form_row(form.retries_delay) }}
                {{ form_row(form.error_queue) }}
                {{ form_row(form.timeout) }}
                {{ form_row(form.delay) }}
                {{ form_row(form.expires_in) }}
            </div>
        </div>
    </div>

    {{ form_row(form.actions) }}

    <div class="clearfix mb-10"></div>
</form>
