<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Project "{{ role.project.title }}" Credentials</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal clearfix">
                    <dt class="mt-10">Project ID</dt>
                    <dd class="mt-10 text-success">{{ role.project.id }}</dd>
                    <dt class="mt-10">Token</dt>
                    <dd class="mt-10">{{ role.accessToken}}</dd>
                </dl>

                <dl>
                    <dt class="mt-30">API Base URL</dt>
                    <dd><kbd>{{ url('project_info', {projectId: role.project.id}) }}</kbd></dd>

                    <dt class="mt-30">curl get project info</dt>
                    <dd><kbd class="btn-block">curl -X GET \<br/> &nbsp; -H "Authorization: token {{ role.accessToken }}" \<br/> &nbsp; {{ url('project_info', {projectId: role.project.id}) }}</kbd></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
